.jumbotron{
    background-image:url(https://images.pexels.com/photos/106606/pexels-photo-106606.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1500);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
}
h1{
    font-family: 'Festive', cursive;
}