.jumbotron{
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    margin-bottom: 0;
}
h1{
    font-family: 'Festive', cursive;
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    color:#ffffff;
    height: 400px;
}

.jumbo1{
    background-image:url(https://images.pexels.com/photos/618848/pexels-photo-618848.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900);
}

.jumbo2{
    background-image:url(https://images.pexels.com/photos/6003114/pexels-photo-6003114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.jumbo3{
    background-image:url(https://images.pexels.com/photos/5589130/pexels-photo-5589130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.footer{
    height: 40px;
}